* {
    padding: 0;
    margin: 0;
    
}

body {
    overflow-x: hidden;
    background-color: #F2F2F2;
}

#banner {
    width: auto;
    height: auto;
    background-color: #F2E8DC;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
    color: #59564F;
    letter-spacing: 3px;
}

p {
    font-family: 'Lato', sans-serif;
}

#banner h1 {
    padding: 1em;
    letter-spacing: 3px;
    color: #59564F;
    text-align: center;
}

#banner h1:hover {
    color: #0D0D0D;
    cursor: pointer;
}

.content {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    text-align: left;
}

.slideBOI {
    margin-left: 10vw;
    position: relative;

}

.slideContainer {
    display: inline-block;
    max-width: 90%;
    
}

@media screen and (max-width: 480px) {
    .intro{
      display: inline-block;
      min-width: 100%;
    }
}

.intro {
    width: 70%;
    padding: 1em;
    z-index: 5;
    padding-bottom: 3vh;
    text-align: justify;
    padding-left: 10vw;
}



@media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 80%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1px;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 20%;
    padding: 0 2px;
    padding: 1em;
    z-index: 2;
   
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
border-radius: 8px 8px 8px 8px;
}

.column img:hover {
    cursor: pointer;
    box-shadow: #A69E94 8px 8px 8px;
    }


.intro h2 {
    margin-top: 2vh;
}


.quickMail input {
    width: 40%;
    height: 3vh;
    text-align: center;
    margin-top: 4px;
    outline: none;
    border: none;
    font-family: 'Lato', sans-serif;
    margin-top: 2vh;
}

input[type=submit] {
    width: 20%;
    background-color: #A69E94;
}

.quickMail input[type=submit]:hover {
    background-color: #59564F;
    cursor: pointer;
    color: white;
}

img:focus {
    border: none;
    outline: none;
}