* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

#banner {
    width: auto;
    height: auto;
    background-color: #F2E8DC;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
    color: #59564F;
    letter-spacing: 3px;
}

p {
    font-family: 'Lato', sans-serif;
}

#banner h1 {
    padding: 1em;
    letter-spacing: 3px;
    color: #59564F;
    text-align: center;
}

#banner h1:hover {
    color: #0D0D0D;
    cursor: pointer;
}

.content {
    height: 100vh;
    width: 100vw;
    background-color: #F2F2F2;
    padding-top: 2vh;
    overflow-y: hidden;
    text-align: center;
}

.slideBOI {
    width: 80%;
    margin: 0 auto;
}

.intro {
    margin-left: 30%;
    width: 40%;
    background-color: #F2E8DC;
    border-radius: 8px 8px 0 0;
    padding-top: .5vh;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    justify-content: center;
    
    
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
    background-color: #F2E8DC;
    padding: 2em;
    border-radius: 8px 8px 8px 8px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 95%;
border-radius: 8px 8px 8px 8px;
}




.intro h2 {
    margin-top: 2vh;
}


.quickMail input {
    width: 20em;
    height: 2em;
    text-align: center;
    margin-top: 4px;
    outline: none;
    border: none;
    margin-bottom: 1vh;
    font-family: 'Lato', sans-serif;
}

input[type=submit] {
    background-color: #A69E94;
}

.quickMail input[type=submit]:hover {
    background-color: #59564F;
    cursor: pointer;
    color: white;
}