* {
    padding: 0;
    margin: 0;
}

#banner {
    width: auto;
    height: auto;
    background-color: #F0F0F2;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

#banner h1 {
    padding: 1em;
    letter-spacing: 3px;
    color: #F26E50;
}